body,
header {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(254, 172, 10);
}

p {
  text-align: center;
}
/* Header css */

.header-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: rgb(254, 172, 10);
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.header-content {
  display: flex;
  gap: 50px;
  height: 40px;
  align-items: center;
}
.current-site {
  border: 1px solid black;
  border-top: 0;
}

.header-content a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}
.header-content a:hover {
  background-color: aliceblue;
}
/* Banner css */
.banner-img {
  width: 100%;
}
.banner-img img {
  width: 100%;
}

/* Content css */

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  width: 100%;
}
.main-container {
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5em;
}
.title-text p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  max-width: 1350px;
  height: 3px;
  background: linear-gradient(to right, rgb(199, 115, 6), rgb(216, 202, 2));
}

.trailer-video {
  justify-self: center;
}

.trailer-video iframe {
  border: none;
}

.trailer-text,
.player-count-text,
.most-expensive-text {
  font-size: 1.6em;
}

.trailer-text p,
.player-count-text p,
.most-expensive-text p {
  text-align: center;
}
.player-count-img {
  justify-self: center;
}
.player-count-img img {
  width: 100%;
}

.most-expensive-img {
  justify-self: center;
}
.most-expensive-img img {
  width: 100%;
}
/* Button css */

.buttons a {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: rgb(254, 172, 10);
}
.buttons a:hover {
  color: white;
  background-color: black;
}

.site-content .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .banner-img {
    opacity: 0;
    width: 0;
  }

  .header-content {
    gap: 10px;
  }

  .title {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 600px) {
  .header-content {
    gap: 1px;
    font-size: 0.89em;
  }
}
