body,
header {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(254, 172, 10);
}

.header-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: rgb(254, 172, 10);
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.header-content {
  display: flex;
  gap: 50px;
  height: 40px;
  align-items: center;
}

.header-content a {
  text-decoration: none;
  color: black;
  padding: 10px 13px;
}

.header-content a:hover {
  background-color: aliceblue;
}
.current-site {
  border: 1px solid black;
  border-top: 0;
}
.banner-img {
  width: 100%;
}
.banner-img img {
  width: 100%;
}
.content-text {
  width: 60%;
  font-size: 1.6em;
  margin-left: 10px;
  word-spacing: 2px;
  margin-bottom: 100px;
  align-self: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 10px;
  background-color: black;
  color: white;
}
.content-text-title {
  font-size: 1.65em;
  text-decoration: underline;
  text-decoration-color: rgb(254, 172, 10);
}
/* .content {
  animation-name: yes;
  animation-duration: 1.3s;
} */
.content .scroll-text {
  text-align: center;
  font-size: 1.5em;
  cursor: default;
}
.content-article-img {
  width: 30%;
  display: inline-block;
}
.content-article-img p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.content-article-img img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(187, 125, 0);
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.content-article-img img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.content-article {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  opacity: 0;
}

.button-nav {
  display: flex;
  flex-direction: row;
}
.buttons {
  justify-self: center;
}
.buttons a {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: rgb(254, 172, 10);
}
.buttons a:hover {
  color: white;
  background-color: black;
}
.display-none {
  display: none;
}
.animate {
  animation-name: yes;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
}
.animate-reverse {
  animation-name: yes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  opacity: 0;
}
@keyframes yes {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .content-article-img {
    display: none;
  }
  .content-text {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .header-content {
    gap: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    opacity: 0;
    width: 0;
  }
  .header-content {
    gap: 10px;
  }
}

@media only screen and (max-width: 380px) {
  .header-content {
    gap: 5px;
  }
}
@media only screen and (max-width: 365px) {
  .header-content {
    gap: 3px;
  }
  .header-content a {
    padding: 10px 5px;
  }
}
